
<div class="popup helpful">
  <div class="popup-wrapper"> 
    <form class="popup-inner" action="#" method="post" autocomplete="on">
      <button class="popup__close btn" type="button"><img class="popup__close-img" src="../img/icons/close.svg" alt="close"/></button>
      <h2 class="popup__subtitile">Was the answer helpful?</h2>
      <div class="popup__buttons">
        <button class="btn btn-secondary" type="button">Yes 👍</button>
        <button class="btn btn-main" type="button">No</button>
      </div>
    </form>
  </div>
</div>