
<div class="sidebar"> 
  <div class="sidebar__top">
    <h2 class="sidebar__title">Top experts</h2>
    <p class="sidebar__txt">Our experts are ready to answer any of your questions 24 hours a day</p>
  </div>
  <div class="sidebar-inner"><a class="sidebar__user" href="#">
      <div class="sidebar__user-content">
        <div class="sidebar__user-img"><img class="sidebar__user-avatar" src="../img/users/man_1.png" alt="пользователь"/><span class="hint-ranks phd">p</span><span class="hint-ranks__content">Phd</span></div>
        <div class="sidebar__user-desc">
          <h3 class="sidebar__user-name">Konstantin Berg</h3>
          <p class="sidebar__user-sol">3 592 solutions</p>
        </div>
      </div>
      <div class="sidebar__user-rating"> <span class="rating">4.9</span><img src="../img/icons/rating-star.svg" alt="star"/></div></a><a class="sidebar__user" href="#">
      <div class="sidebar__user-content">
        <div class="sidebar__user-img"><img class="sidebar__user-avatar" src="../img/users/man_2.png" alt="пользователь"/><span class="hint-ranks master">m</span><span class="hint-ranks__content">Master</span></div>
        <div class="sidebar__user-desc">
          <h3 class="sidebar__user-name">Bernard Wilkins</h3>
          <p class="sidebar__user-sol">2 273 solutions</p>
        </div>
      </div>
      <div class="sidebar__user-rating"> <span class="rating">5.0</span><img src="../img/icons/rating-star.svg" alt="star"/></div></a><a class="sidebar__user" href="#">
      <div class="sidebar__user-content">
        <div class="sidebar__user-img"><img class="sidebar__user-avatar" src="../img/users/woman_1.png" alt="пользователь"/><span class="hint-ranks specialist">s</span><span class="hint-ranks__content">Specialist</span></div>
        <div class="sidebar__user-desc">
          <h3 class="sidebar__user-name">Maria Andrews</h3>
          <p class="sidebar__user-sol">1 992 solutions</p>
        </div>
      </div>
      <div class="sidebar__user-rating"> <span class="rating">4.9</span><img src="../img/icons/rating-star.svg" alt="star"/></div></a><a class="sidebar__user" href="#">
      <div class="sidebar__user-content">
        <div class="sidebar__user-img"><img class="sidebar__user-avatar" src="../img/users/woman_2.png" alt="пользователь"/><span class="hint-ranks master">m</span><span class="hint-ranks__content">Master</span></div>
        <div class="sidebar__user-desc">
          <h3 class="sidebar__user-name">Madeline Flores</h3>
          <p class="sidebar__user-sol">1 028 solutions</p>
        </div>
      </div>
      <div class="sidebar__user-rating"> <span class="rating">4.8</span><img src="../img/icons/rating-star.svg" alt="star"/></div></a><a class="sidebar__user" href="#">
      <div class="sidebar__user-content">
        <div class="sidebar__user-img"><img class="sidebar__user-avatar" src="../img/users/man_3.png" alt="пользователь"/><span class="hint-ranks phd">p</span><span class="hint-ranks__content">Phd</span></div>
        <div class="sidebar__user-desc">
          <h3 class="sidebar__user-name">Jaime Oliver</h3>
          <p class="sidebar__user-sol">976 solutions</p>
        </div>
      </div>
      <div class="sidebar__user-rating"> <span class="rating">5.0</span><img src="../img/icons/rating-star.svg" alt="star"/></div></a></div>
  <div class="sidebar-info">
    <p class="sidebar-online">8 free experts <span>online</span></p><a class="btn sidebar__btn" href="#">Ask question to an expert
      <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.3335 6.66675H10.6668" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M5.3335 9.33337H8.00016" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M8.00016 14.6667C11.6822 14.6667 14.6668 11.682 14.6668 8.00004C14.6668 4.31804 11.6822 1.33337 8.00016 1.33337C4.31816 1.33337 1.3335 4.31804 1.3335 8.00004C1.3335 9.21404 1.65816 10.3534 2.2255 11.3334L1.66683 14.3334L4.66683 13.7747C5.67986 14.3607 6.82984 14.6685 8.00016 14.6667V14.6667Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg></a>
  </div>
</div>