
<div class="page"> 
  <div class="container">
    <div class="categories-grid">
      <div class="categories-right">
        <div class="user-profile">
          <div class="user__desc">
            <div class="user__data"> 
              <div class="user__img"> <img src="../img/icons/verified-user.svg" alt="user"/></div>
              <div class="paticipant__data-desc"> 
                <h3 class="user__title">Konstantin</h3>
                <div class="ranks"> <span class="paticipant-ranks hint-ranks phd">p</span><span class="ranks__txt">Phd</span></div>
              </div>
            </div>
            <div class="user__rating">
              <div class="rating-wrap rtl"><span class="rating rtl">4.9</span><img src="../img/icons/rating-star.svg" alt="star"/></div>
              <p class="small-txt">rating</p>
            </div>
          </div>
          <ul class="profile-sections">
            <li> 
              <p class="offline accent-txt years">15 years experience</p>
            </li>
            <li> 
              <p class="accent-txt orange">12 640 people helped</p>
            </li>
            <li> 
              <div class="liked accent-txt"><img src="../img/icons/like.svg" alt="like"/><span>3 592 </span></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="categories-left">
        <h2 class="question__subtitle">My questions</h2>
        <div class="answer-similar-inner"><a class="answer__item" href="#"> 
            <div class="answer__item-txt">
              <p>The diameter of the circle is 10 centimeters and the measure of is 72º. Find the length of. Round your calculations to the nearest tenth. Complete your work in the space provided.</p>
            </div>
            <div class="answer__info"> 
              <div class="answer__category">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="rgba(17, 17, 17, 0.6)"></path>
                </svg><span>Mathematics</span>
              </div>
              <div class="answer__info-desc">
                <div class="ranks"> <span class="paticipant-ranks hint-ranks phd">p</span><span class="ranks__txt">Answered by PhD</span></div>
                <div class="liked"><img src="../img/icons/like.svg" alt="like"/><span>24</span></div>
              </div>
            </div></a><a class="answer__item" href="#"> 
            <div class="answer__item-txt">
              <p>A water fountain shoots up a jet of water. The water falls back down, onto the ground, in the shape of a circle. Michelle wants the radius of the circle of water on the ground to be 0.7 metre wider...</p><img src="../img/education/exercise.jpg" alt="exercise"/>
            </div>
            <div class="answer__info"> 
              <div class="answer__category">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="rgba(17, 17, 17, 0.6)"></path>
                </svg><span>Mathematics </span>
              </div>
              <div class="answer__info-desc">
                <div class="ranks"> <span class="paticipant-ranks hint-ranks master">m</span><span class="ranks__txt">Answered by Master</span></div>
                <div class="liked"><img src="../img/icons/like.svg" alt="like"/><span>8</span></div>
              </div>
            </div></a><a class="answer__item" href="#"> 
            <div class="answer__item-txt">
              <p>A water fountain shoots up a jet of water. The water falls back down, onto the ground, in the shape of a circle. Michelle wants the radius of the circle of water on the ground to be 0.7 metre wider...</p>
            </div>
            <div class="answer__info"> 
              <div class="answer__category">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="rgba(17, 17, 17, 0.6)"></path>
                </svg><span>Mathematics </span>
              </div>
              <div class="answer__info-desc">
                <div class="ranks"> <span class="paticipant-ranks hint-ranks specialist">s</span><span class="ranks__txt">Answered by Specialist</span></div>
                <div class="liked"><img src="../img/icons/like.svg" alt="like"/><span>16</span></div>
              </div>
            </div></a></div>
      </div>
    </div>
  </div>
</div>