.page
    .container
        .categories-grid
            .categories-left
                .answer-content 
                    .categories-desc.accent-txt
                        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="#4C37EE")
                        span Mathematics
                    .question
                        .question-txt
                            h2.question__title Question
                            p.question__text Compared to an elementary-school teacher in Mississippi, how much more will an elementary-school teacher in Texas earn over a span of 30 years?
                        .question__img 
                            img(src="../img/education/exercise.jpg", alt="exercise")
                    .answer-block
                        h2.question__subtitle Step-by-step answer
                        a.paticipant(href="expert.html")
                            .paticipant__data 
                                .paticipant__img 
                                    img(src="../img/users/man_1.png", alt="man")
                                .paticipant__data-desc 
                                    h3.paticipant__title.accent-txt Konstantin Berg
                                        span.confirmed
                                            img(src="../img/icons/checked.svg", alt="checked")
                                    .ranks 
                                        span.paticipant-ranks.hint-ranks.phd p
                                        span.ranks__txt Phd
                            ul.paticipant__desc
                                li.paticipant__desc-item 
                                    h4.years.accent-txt 15 years
                                    p.paticipant__desc-txt experience
                                li.paticipant__desc-item 
                                    h4.answers.accent-txt 3 592
                                    p.paticipant__desc-txt answers
                                li.paticipant__desc-item 
                                    .rating-wrap
                                        span.rating.accent-txt 4.9
                                        img(src="../img/icons/rating-star.svg", alt="rating")
                                    p.paticipant__desc-txt rating
                                li.paticipant__desc-item 
                                    img(src="../img/icons/arrow-right.svg", alt="arrow")
                        .answer
                            .answer__desc
                                p Correct — D. $330,000
                                p Explanation:
                                ol
                                    li Find the amount that an elementary school teacher in Mississippi will earn: $31,000 × 30 = $930,000
                                    li Find the amount that an elementary school teacher in Texas will earn: $42,000 × 30 = $1,260,000
                                    li Find the difference: $1,260,000 - $930,000 = $330,000
                                    li Hence, an elementary school teacher in Texas will earn $330,000 more in 30 years than an elementary school teacher in Mississippi.
                                .answer__unlock 
                                    span.answer__unlock-icon.btn.btn-icon
                                        img(src="../img/icons/lock.svg", alt="lock")
                                    p.answer__unlock-txt Unlock answer
                            .answer__feedback
                                .answer__feedback-bottom
                                    span.question__feedback.accent-txt It is was helpful?
                                    .answer__feedback-btns
                                        button.btn.btn-icon.btn-main.popup-help(type="button")
                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(d="M11.8082 1.34437C11.4895 1.34583 11.1706 1.46888 10.9277 1.71221L6.31991 6.32973C6.00824 6.64223 5.83325 7.06482 5.83325 7.50648V15.8333C5.83325 16.7541 6.57908 17.5 7.49992 17.5H14.9934C15.6592 17.5 16.2616 17.1034 16.525 16.4909L19.0315 10.6559C19.1207 10.4484 19.1666 10.2242 19.1666 9.99835V8.33331C19.1666 7.41247 18.4207 6.66664 17.4999 6.66664H12.2069L13.0354 2.86293C13.1271 2.44293 12.9962 2.00491 12.6903 1.70407C12.4453 1.46324 12.1268 1.34292 11.8082 1.34437ZM1.66659 7.49997C1.20659 7.49997 0.833252 7.87331 0.833252 8.33331V16.6666C0.833252 17.1266 1.20659 17.5 1.66659 17.5H3.33325C3.79325 17.5 4.16658 17.1266 4.16658 16.6666V8.33331C4.16658 7.87331 3.79325 7.49997 3.33325 7.49997H1.66659Z" fill="#4C37EE")
                                            span.btn-main-txt Helpful 
                                                span 24
                                        button.btn.btn-icon.btn-main(type="button" disabled)
                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(d="M8.19206 18.6553C8.5107 18.6538 8.82968 18.5308 9.07259 18.2874L13.6803 13.6699C13.992 13.3574 14.167 12.9348 14.167 12.4932V4.16633C14.167 3.24549 13.4212 2.49966 12.5003 2.49966H5.00684C4.341 2.49966 3.7386 2.89628 3.47526 3.50878L0.968752 9.34374C0.879585 9.55124 0.83366 9.77546 0.83366 10.0013V11.6663C0.83366 12.5872 1.57949 13.333 2.50033 13.333H7.79329L6.96484 17.1367C6.87318 17.5567 7.00406 17.9947 7.3099 18.2956C7.5549 18.5364 7.87341 18.6567 8.19206 18.6553ZM18.3337 12.4997C18.7937 12.4997 19.167 12.1263 19.167 11.6663V3.33299C19.167 2.87299 18.7937 2.49966 18.3337 2.49966H16.667C16.207 2.49966 15.8337 2.87299 15.8337 3.33299V11.6663C15.8337 12.1263 16.207 12.4997 16.667 12.4997H18.3337Z" fill="#111111" fill-opacity="0.6")
                                            span.btn-main-txt Useless
                                .answer__helpful
                                    p 24 students found this answer #[span #[img(src="../img/icons/like.svg", alt="like")] helpful]
                .answer-more 
                    .banner.color
                        .banner-desc 
                            .banner-desc__top.color
                                h2 Quick expert help
                                p Get expert answer in 15 minutes in the Studen app for #[span.color free!]
                            .banner-services
                                .banner-services-download 
                                    a.banner-services__link(href="#") 
                                        img.banner-services__img(src="../img/illustrations/market/app.png", alt="app store")
                                    a.banner-services__link(href="#") 
                                        img.banner-services__img(src="../img/illustrations/market/google.png", alt="google store")
                                img.banner-services__img(src="../img/illustrations/market/qr-code.png", alt="qr code")
                        .banner__img 
                            img(src="../img/illustrations/phone-chat.png", alt="chat")
                    .answer-similar
                        h2.question__subtitle Similar questions
                        .answer-similar-inner
                            a.answer__item(href="#") 
                                .answer__item-txt
                                    p The diameter of the circle is 10 centimeters and the measure of is 72º. Find the length of. Round your calculations to the nearest tenth. Complete your work in the space provided.
                                .answer__info 
                                    .answer__category
                                        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="rgba(17, 17, 17, 0.6)")
                                        span Mathematics
                                    .answer__info-desc
                                        .ranks 
                                            span.paticipant-ranks.hint-ranks.phd p
                                            span.ranks__txt Answered by PhD
                                        .liked
                                            img(src="../img/icons/like.svg", alt="like")
                                            span 24
                            a.answer__item(href="#") 
                                .answer__item-txt
                                    p A water fountain shoots up a jet of water. The water falls back down, onto the ground, in the shape of a circle. Michelle wants the radius of the circle of water on the ground to be 0.7 metre wider...
                                .answer__info 
                                    .answer__category
                                        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="rgba(17, 17, 17, 0.6)")
                                        span Mathematics 
                                    .answer__info-desc
                                        .ranks 
                                            span.paticipant-ranks.hint-ranks.phd p
                                            span.ranks__txt Answered by PhD
                                        .liked
                                            img(src="../img/icons/like.svg", alt="like")
                                            span 8
                            a.answer__item(href="#") 
                                .answer__item-txt
                                    p A water fountain shoots up a jet of water. The water falls back down, onto the ground, in the shape of a circle. Michelle wants the radius of the circle of water on the ground to be 0.7 metre wider...
                                .answer__info 
                                    .answer__category
                                        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="rgba(17, 17, 17, 0.6)")
                                        span Mathematics 
                                    .answer__info-desc
                                        .ranks 
                                            span.paticipant-ranks.hint-ranks.phd p
                                            span.ranks__txt Answered by PhD
                                        .liked
                                            img(src="../img/icons/like.svg", alt="like")
                                            span 16
                    .banner
                        .banner-desc 
                            .banner-desc__top
                                h2 Quick expert help
                                p Get expert answer in 15 minutes in the Studen app for #[span free!]
                            .banner-services
                                .banner-services-download 
                                    a.banner-services__link(href="#") 
                                        img.banner-services__img(src="../img/illustrations/market/app.png", alt="app store")
                                    a.banner-services__link(href="#") 
                                        img.banner-services__img(src="../img/illustrations/market/google.png", alt="google store")
                                img.banner-services__img(src="../img/illustrations/market/qr-code.png", alt="qr code")
                            p.banner-desc__txt If you read this, get 1 month subscription for free — just use promo code ASVHR
                        .banner__img 
                            img(src="../img/illustrations/phone-chat.png", alt="chat") 
            .categories-right
                include ./sidebar.pug
                .helped 
                    .helped__top 
                        p.helped__subtxt.accent-txt Today we helped
                        h2.helped__title 2 742 students
                    .helped-inner
                        a.helped__item.answer__item(href="#") 
                            .answer__date 
                                p.answer__date-txt 1 min ago
                                .answer__category
                                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="rgba(17, 17, 17, 0.6)")
                                    span Mathematics
                            .helped__item-txt.accent-txt
                                p The diameter of the circle is 10 centimeters and the measure of is 72º. Find the length of. Round your calcula...
                            .answer__info-desc
                                .ranks 
                                    span.paticipant-ranks.hint-ranks.phd p
                                    span.ranks__txt Answered by PhD
                                .liked
                                    img(src="../img/icons/like.svg", alt="like")
                                    span 2
                        a.helped__item.answer__item(href="#") 
                            .answer__date 
                                p.answer__date-txt 5 min ago
                                .answer__category
                                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="rgba(17, 17, 17, 0.6)")
                                    span Mathematics
                            .helped__item-txt.accent-txt
                                p A water fountain shoots up a jet of water. The water falls back down, onto the ground, in the shape of a circle...
                            .answer__info-desc
                                .ranks 
                                    span.paticipant-ranks.hint-ranks.master m
                                    span.ranks__txt Answered by Master
                                .liked
                                    img(src="../img/icons/like.svg", alt="like")
                                    span 4
                        a.helped__item.answer__item(href="#") 
                            .answer__date 
                                p.answer__date-txt 15 min ago
                                .answer__category
                                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="rgba(17, 17, 17, 0.6)")
                                    span Mathematics
                            .helped__item-txt.accent-txt
                                p Which word equation shows lithium oxide being formed from the reaction?
                            .answer__info-desc
                                .ranks 
                                    span.paticipant-ranks.hint-ranks.specialist s
                                    span.ranks__txt Answered by Specialist
                                .liked
                                    img(src="../img/icons/like.svg", alt="like")
                                    span 24
                    a.btn.sidebar__btn(href="#") Get help with homework
                        svg(width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M5.3335 6.66675H10.6668" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M5.3335 9.33337H8.00016" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M8.00016 14.6667C11.6822 14.6667 14.6668 11.682 14.6668 8.00004C14.6668 4.31804 11.6822 1.33337 8.00016 1.33337C4.31816 1.33337 1.3335 4.31804 1.3335 8.00004C1.3335 9.21404 1.65816 10.3534 2.2255 11.3334L1.66683 14.3334L4.66683 13.7747C5.67986 14.3607 6.82984 14.6685 8.00016 14.6667V14.6667Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    p.helped__info-text Quick answer in 15 min
                //- mini banner
                a.banner-mini.main(href="#")
                    h2 Didn't find an answer?
                    p Ask your question
                    img.banner-mini__img(src="../img/illustrations/robots-little.png", alt="robot")
                //- слайдер-баннер
                .description
                    .description__carousel.swiper
                        .description__carousel-wrapper.swiper-wrapper
                            .description__slide.swiper-slide
                                .description__slide-inner
                                    .description__slide-top
                                        h2.description__title Get help with #[br] homework
                                        p.description__text.accent-txt 3 000 000+ step-by-step answers and solutions from experienced experts
                                    .description__img
                                        img(src="../img/illustrations/onboarding/analysis.png", alt="analysis")
                            .description__slide.swiper-slide
                                .description__slide-inner
                                    .description__slide-top
                                        h2.description__title Got stuck?
                                        p.description__text.accent-txt Our experts are ready to answer any of your questions 24 hours a day
                                    .description__img
                                        img(src="../img/illustrations/onboarding/social.png", alt="social")
                            .description__slide.swiper-slide
                                .description__slide-inner
                                    .description__slide-top
                                        h2.description__title Have a question?
                                        p.description__text.accent-txt All experts have passed a thorough selection and give the most accurate and easy to understand answers
                                    .description__img
                                        img(src="../img/illustrations/onboarding/voice.png", alt="voice")
                            .description__slide.swiper-slide
                                .description__slide-inner
                                    .description__slide-top
                                        h2.description__title 1 346 847
                                        p.description__text.accent-txt Count of students we have already helped. You are guaranteed will improve your knowledge and performance
                                    .description__img
                                        img(src="../img/illustrations/onboarding/location.png", alt="location")
                        a.btn.sidebar__btn(href="#") Ask your question
                            svg(width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M5.3335 6.66675H10.6668" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M5.3335 9.33337H8.00016" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M8.00016 14.6667C11.6822 14.6667 14.6668 11.682 14.6668 8.00004C14.6668 4.31804 11.6822 1.33337 8.00016 1.33337C4.31816 1.33337 1.3335 4.31804 1.3335 8.00004C1.3335 9.21404 1.65816 10.3534 2.2255 11.3334L1.66683 14.3334L4.66683 13.7747C5.67986 14.3607 6.82984 14.6685 8.00016 14.6667V14.6667Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        .swiper-pagination

//- benefits
section.benefits 
    .container
        .waves
            img(src="../img/waves/waves.png", alt="waves")
        .benefits-desc
            h2.benefits__title What is Studen
            p.benefits__txt Studen helps you with homework. There is two ways, how you can get solution
            .benefits-inner
                a.benefits__card(href="#") 
                    .benefits-icon.btn.btn-icon-dark
                        svg(width="29" height="29" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M5.3335 6.66675H10.6668" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M5.3335 9.33337H8.00016" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M8.00016 14.6667C11.6822 14.6667 14.6668 11.682 14.6668 8.00004C14.6668 4.31804 11.6822 1.33337 8.00016 1.33337C4.31816 1.33337 1.3335 4.31804 1.3335 8.00004C1.3335 9.21404 1.65816 10.3534 2.2255 11.3334L1.66683 14.3334L4.66683 13.7747C5.67986 14.3607 6.82984 14.6685 8.00016 14.6667V14.6667Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    h3.benefits__card-title Leave a question
                    p.benefits__card-text Studen will automatically select an expert for you
                a.benefits__card(href="#") 
                    .benefits-icon.btn.btn-icon-dark
                        svg(width="27" height="27" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M14.083 14.0834L18.1663 18.1667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M1.83301 8.83337C1.83301 9.75263 2.01407 10.6629 2.36585 11.5122C2.71763 12.3614 3.23325 13.1331 3.88326 13.7831C4.53327 14.4331 5.30494 14.9487 6.15422 15.3005C7.0035 15.6523 7.91375 15.8334 8.83301 15.8334C9.75226 15.8334 10.6625 15.6523 11.5118 15.3005C12.3611 14.9487 13.1327 14.4331 13.7828 13.7831C14.4328 13.1331 14.9484 12.3614 15.3002 11.5122C15.6519 10.6629 15.833 9.75263 15.833 8.83337C15.833 6.97686 15.0955 5.19638 13.7828 3.88363C12.47 2.57087 10.6895 1.83337 8.83301 1.83337C6.97649 1.83337 5.19602 2.57087 3.88326 3.88363C2.57051 5.19638 1.83301 6.97686 1.83301 8.83337V8.83337Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    h3.benefits__card-title Use search
                    p.benefits__card-text Our base includes solutions from experienced experts
                a.benefits__card(href="#") 
                    .benefits-icon.btn.btn-icon-dark
                        svg(width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M3 30V28.5C3 25.7152 4.10625 23.0445 6.07538 21.0754C8.04451 19.1062 10.7152 18 13.5 18" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M23.706 18.4695C23.9335 18.2199 24.2105 18.0205 24.5194 17.884C24.8283 17.7476 25.1623 17.6771 25.5 17.6771C25.8377 17.6771 26.1717 17.7476 26.4806 17.884C26.7895 18.0205 27.0666 18.2199 27.294 18.4695C27.7815 19.005 28.479 19.2945 29.202 19.26C29.5395 19.2442 29.8766 19.299 30.1917 19.421C30.5068 19.5429 30.7929 19.7293 31.0318 19.9682C31.2707 20.2071 31.4571 20.4933 31.5791 20.8084C31.701 21.1235 31.7559 21.4605 31.74 21.798C31.7055 22.5195 31.995 23.2185 32.529 23.706C33.5865 24.669 33.5865 26.331 32.529 27.294C31.995 27.7815 31.7055 28.479 31.74 29.202C31.7559 29.5395 31.701 29.8766 31.5791 30.1917C31.4571 30.5068 31.2707 30.7929 31.0318 31.0318C30.7929 31.2707 30.5068 31.4571 30.1917 31.5791C29.8766 31.701 29.5395 31.7559 29.202 31.74C28.8456 31.7232 28.4897 31.7851 28.1599 31.9215C27.8302 32.0579 27.5345 32.2653 27.294 32.529C27.0666 32.7787 26.7895 32.9781 26.4806 33.1145C26.1717 33.251 25.8377 33.3214 25.5 33.3214C25.1623 33.3214 24.8283 33.251 24.5194 33.1145C24.2105 32.9781 23.9335 32.7787 23.706 32.529C23.4656 32.2653 23.1699 32.0579 22.8401 31.9215C22.5103 31.7851 22.1545 31.7232 21.798 31.74C21.4605 31.7559 21.1235 31.701 20.8084 31.5791C20.4933 31.4571 20.2071 31.2707 19.9682 31.0318C19.7293 30.7929 19.5429 30.5068 19.421 30.1917C19.299 29.8766 19.2442 29.5395 19.26 29.202C19.2767 28.8454 19.2145 28.4896 19.0779 28.1598C18.9412 27.83 18.7335 27.5344 18.4695 27.294C18.2199 27.0666 18.0205 26.7895 17.884 26.4806C17.7476 26.1717 17.6771 25.8377 17.6771 25.5C17.6771 25.1623 17.7476 24.8283 17.884 24.5194C18.0205 24.2105 18.2199 23.9335 18.4695 23.706C19.005 23.2185 19.2945 22.521 19.26 21.798C19.2442 21.4605 19.299 21.1235 19.421 20.8084C19.5429 20.4933 19.7293 20.2071 19.9682 19.9682C20.2071 19.7293 20.4933 19.5429 20.8084 19.421C21.1235 19.299 21.4605 19.2442 21.798 19.26C22.5195 19.2945 23.2185 19.005 23.706 18.4695V18.4695Z" stroke="white" stroke-width="2.5")
                            path(d="M23.046 25.5L24.681 27.135L27.954 23.865" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M13.5 18C15.0913 18 16.6174 17.3679 17.7426 16.2426C18.8679 15.1174 19.5 13.5913 19.5 12C19.5 10.4087 18.8679 8.88258 17.7426 7.75736C16.6174 6.63214 15.0913 6 13.5 6C11.9087 6 10.3826 6.63214 9.25736 7.75736C8.13214 8.88258 7.5 10.4087 7.5 12C7.5 13.5913 8.13214 15.1174 9.25736 16.2426C10.3826 17.3679 11.9087 18 13.5 18V18Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round")
                    h3.benefits__card-title Ask directly
                    p.benefits__card-text We have more than 5 000 verified experienced expert



