.popup.helpful
    .popup-wrapper.help
        form.popup-inner(action='#' method='post' autocomplete="on")
            button.popup__close.btn(type="button")
                img.popup__close-img(src="../img/icons/close.svg", alt="close")
            h2.popup__subtitile Was the answer helpful?
            .popup__buttons
                button.btn.btn-secondary(type='button') Yes 👍
                button.btn.btn-main(type='button') No





