section.benefits 
    .container
        .waves
            img(src="../img/waves/waves.png", alt="waves")
        .benefits-desc
            h2.benefits__title What is Studen
            p.benefits__txt Studen helps you with homework. There is two ways, how you can get solution
            .benefits-inner
                a.benefits__card(href="#") 
                    .benefits-icon.btn.btn-icon-dark
                        svg(width="29" height="29" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M5.3335 6.66675H10.6668" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M5.3335 9.33337H8.00016" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M8.00016 14.6667C11.6822 14.6667 14.6668 11.682 14.6668 8.00004C14.6668 4.31804 11.6822 1.33337 8.00016 1.33337C4.31816 1.33337 1.3335 4.31804 1.3335 8.00004C1.3335 9.21404 1.65816 10.3534 2.2255 11.3334L1.66683 14.3334L4.66683 13.7747C5.67986 14.3607 6.82984 14.6685 8.00016 14.6667V14.6667Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    h3.benefits__card-title Leave a question
                    p.benefits__card-text Studen will automatically select an expert for you
                a.benefits__card(href="#") 
                    .benefits-icon.btn.btn-icon-dark
                        svg(width="27" height="27" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M14.083 14.0834L18.1663 18.1667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            path(d="M1.83301 8.83337C1.83301 9.75263 2.01407 10.6629 2.36585 11.5122C2.71763 12.3614 3.23325 13.1331 3.88326 13.7831C4.53327 14.4331 5.30494 14.9487 6.15422 15.3005C7.0035 15.6523 7.91375 15.8334 8.83301 15.8334C9.75226 15.8334 10.6625 15.6523 11.5118 15.3005C12.3611 14.9487 13.1327 14.4331 13.7828 13.7831C14.4328 13.1331 14.9484 12.3614 15.3002 11.5122C15.6519 10.6629 15.833 9.75263 15.833 8.83337C15.833 6.97686 15.0955 5.19638 13.7828 3.88363C12.47 2.57087 10.6895 1.83337 8.83301 1.83337C6.97649 1.83337 5.19602 2.57087 3.88326 3.88363C2.57051 5.19638 1.83301 6.97686 1.83301 8.83337V8.83337Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    h3.benefits__card-title Use search
                    p.benefits__card-text Our base includes solutions from experienced experts
    .benefits__img
        img(src="../img/illustrations/big-smile-robot.png", alt="big robot")








