.footer 
    .container
        .footer-wrapper 
            nav.footer-nav
                ul.footer-nav__list
                    li.footer-nav__item 
                        a.footer-nav__link.accent-txt(href="#") About
                    li.footer-nav__item 
                        a.footer-nav__link.accent-txt(href="#") FAQ
                    li.footer-nav__item 
                        a.footer-nav__link.accent-txt(href="#") Privacy
                ul.footer-nav__list
                    li.footer-nav__item 
                        a.footer-nav__link.accent-txt(href="#") Contacts
                    li.footer-nav__item 
                        a.footer-nav__link.accent-txt(href="#") Terms of Service
                    li.footer-nav__item 
                        a.footer-nav__link.accent-txt(href="#") Honor Code
            .footer-socials
                h2.footer__subtitle.accent-txt Contact us
                ul.footer-socials__list 
                    li.footer-socials__item 
                        a.btn.btn-icon-dark(href="#")
                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M9.99972 1.66699C5.39722 1.66699 1.66638 5.39783 1.66638 10.0003C1.66638 14.1778 4.74388 17.6278 8.75388 18.2303V12.2087H6.69222V10.0178H8.75388V8.56033C8.75388 6.14699 9.92972 5.08783 11.9355 5.08783C12.8964 5.08783 13.4039 5.15866 13.6447 5.19116V7.10283H12.2764C11.4247 7.10283 11.1272 7.91033 11.1272 8.82033V10.0178H13.623L13.2847 12.2087H11.128V18.2478C15.1955 17.697 18.333 14.2187 18.333 10.0003C18.333 5.39783 14.6022 1.66699 9.99972 1.66699Z" fill="#4C37EE")
                    li.footer-socials__item 
                        a.btn.btn-icon-dark(href="#")
                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M6.66636 2.5C4.36553 2.5 2.49969 4.36583 2.49969 6.66667V13.3333C2.49969 15.6342 4.36553 17.5 6.66636 17.5H13.333C15.6339 17.5 17.4997 15.6342 17.4997 13.3333V6.66667C17.4997 4.36583 15.6339 2.5 13.333 2.5H6.66636ZM14.9997 4.16667C15.4597 4.16667 15.833 4.54 15.833 5C15.833 5.46 15.4597 5.83333 14.9997 5.83333C14.5397 5.83333 14.1664 5.46 14.1664 5C14.1664 4.54 14.5397 4.16667 14.9997 4.16667ZM9.99969 5.83333C12.3005 5.83333 14.1664 7.69917 14.1664 10C14.1664 12.3008 12.3005 14.1667 9.99969 14.1667C7.69886 14.1667 5.83303 12.3008 5.83303 10C5.83303 7.69917 7.69886 5.83333 9.99969 5.83333ZM9.99969 7.5C9.33665 7.5 8.70077 7.76339 8.23193 8.23223C7.76309 8.70107 7.49969 9.33696 7.49969 10C7.49969 10.663 7.76309 11.2989 8.23193 11.7678C8.70077 12.2366 9.33665 12.5 9.99969 12.5C10.6627 12.5 11.2986 12.2366 11.7675 11.7678C12.2363 11.2989 12.4997 10.663 12.4997 10C12.4997 9.33696 12.2363 8.70107 11.7675 8.23223C11.2986 7.76339 10.6627 7.5 9.99969 7.5Z" fill="#4C37EE")
                    li.footer-socials__item 
                        a.btn.btn-icon-dark(href="#")
                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M18.333 3.33252C17.6831 3.71835 16.3789 4.24419 15.6122 4.39585C15.5897 4.40169 15.5714 4.40919 15.5497 4.41502C14.8722 3.74669 13.9439 3.33252 12.9164 3.33252C10.8455 3.33252 9.16638 5.01169 9.16638 7.08252C9.16638 7.19169 9.15722 7.39252 9.16638 7.49919C6.37222 7.49919 4.24555 6.03585 2.72055 4.16585C2.55472 4.58252 2.48222 5.24085 2.48222 5.85919C2.48222 7.02669 3.39472 8.17335 4.81555 8.88419C4.55388 8.95169 4.26555 9.00002 3.96555 9.00002C3.48138 9.00002 2.96888 8.87252 2.49972 8.48585C2.49972 8.50002 2.49972 8.51335 2.49972 8.52835C2.49972 10.16 4.23138 11.2709 5.77138 11.58C5.45888 11.7642 4.82888 11.7825 4.52138 11.7825C4.30472 11.7825 3.53805 11.6834 3.33305 11.645C3.76138 12.9825 5.30638 13.7342 6.77888 13.7609C5.62722 14.6642 4.82805 14.9992 2.46972 14.9992H1.66638C3.15638 15.9542 5.05388 16.6667 6.95555 16.6667C13.1472 16.6667 16.6664 11.9475 16.6664 7.49919C16.6664 7.42752 16.6647 7.27752 16.6622 7.12669C16.6622 7.11169 16.6664 7.09752 16.6664 7.08252C16.6664 7.06002 16.6597 7.03835 16.6597 7.01585C16.6572 6.90252 16.6547 6.79669 16.6522 6.74169C17.3105 6.26669 17.8814 5.67419 18.333 4.99919C17.7289 5.26752 17.0805 5.44752 16.3997 5.52919C17.0947 5.11252 18.0822 4.11919 18.333 3.33252Z" fill="#4C37EE")
                    li.footer-socials__item 
                        a.btn.btn-icon-dark(href="#")
                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M17.9842 5.15516C17.7926 4.4385 17.2276 3.8735 16.5109 3.68183C15.2109 3.3335 9.99923 3.3335 9.99923 3.3335C9.99923 3.3335 4.78756 3.3335 3.48756 3.68183C2.77089 3.8735 2.20589 4.4385 2.01423 5.15516C1.66589 6.45516 1.66589 10.0002 1.66589 10.0002C1.66589 10.0002 1.66589 13.5452 2.01423 14.8452C2.20589 15.5618 2.77089 16.1268 3.48756 16.3185C4.78756 16.6668 9.99923 16.6668 9.99923 16.6668C9.99923 16.6668 15.2109 16.6668 16.5109 16.3185C17.2284 16.1268 17.7926 15.5618 17.9842 14.8452C18.3326 13.5452 18.3326 10.0002 18.3326 10.0002C18.3326 10.0002 18.3326 6.45516 17.9842 5.15516ZM8.33256 12.8868V7.1135L13.3326 10.0002L8.33256 12.8868Z" fill="#4C37EE")
                a.accent-link(href="mailto:support@studen.com") support@studen.com
            .footer-download 
                h2.footer__subtitle.accent-txt Download app
                .footer-download-inner
                    a(href="#")
                        img(src="../img/illustrations/market/google.png", alt="google store")
                    a(href="#") 
                        img(src="../img/illustrations/market/app.png", alt="app store")
            .footer-copyright
                h2.footer__subtitle.accent-txt &#169; 2022 Studen
                img.footer-copyright__img(src="../img/illustrations/smile-robot-bg.png", alt="")









