.page 
    .container
        .categories-grid
            .categories-right.user
                .user-profile
                    .user__desc
                        .user__data 
                            .user__img 
                                img(src="../img/users/man_1.png", alt="man")
                            .paticipant__data-desc 
                                h3.user__title Konstantin
                                .ranks 
                                    span.paticipant-ranks.hint-ranks.phd p
                                    span.ranks__txt Phd
                        .user__rating
                            .rating-wrap.rtl
                                span.rating.rtl 4.9
                                img(src="../img/icons/rating-star.svg", alt="star")
                            p.small-txt rating
                    ul.user__specification
                        li 
                            p.offline.accent-txt.years 15 years experience
                        li 
                            p.accent-txt.orange 12 640 people helped
                        li 
                            .liked.accent-txt
                                img(src="../img/icons/like.svg", alt="like")
                                span 3 592 
            .categories-left
                h2.question__subtitle Expert answers
                .answer-similar-inner
                    a.answer__item(href="#") 
                        .answer__item-txt
                            p The diameter of the circle is 10 centimeters and the measure of is 72ยบ. Find the length of. Round your calculations to the nearest tenth. Complete your work in the space provided.
                        .answer__info 
                            .answer__category
                                svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="rgba(17, 17, 17, 0.6)")
                                span Mathematics
                            .answer__info-desc
                                .ranks 
                                    span.paticipant-ranks.hint-ranks.phd p
                                    span.ranks__txt Answered by PhD
                                .liked
                                    img(src="../img/icons/like.svg", alt="like")
                                    span 24
                    a.answer__item(href="#") 
                        .answer__item-txt
                            p A water fountain shoots up a jet of water. The water falls back down, onto the ground, in the shape of a circle. Michelle wants the radius of the circle of water on the ground to be 0.7 metre wider...
                            img(src="../img/education/exercise.jpg", alt="exercise")
                        .answer__info 
                            .answer__category
                                svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="rgba(17, 17, 17, 0.6)")
                                span Mathematics 
                            .answer__info-desc
                                .ranks 
                                    span.paticipant-ranks.hint-ranks.master m
                                    span.ranks__txt Answered by Master
                                .liked
                                    img(src="../img/icons/like.svg", alt="like")
                                    span 8
                    a.answer__item(href="#") 
                        .answer__item-txt
                            p A water fountain shoots up a jet of water. The water falls back down, onto the ground, in the shape of a circle. Michelle wants the radius of the circle of water on the ground to be 0.7 metre wider...
                        .answer__info 
                            .answer__category
                                svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="rgba(17, 17, 17, 0.6)")
                                span Mathematics 
                            .answer__info-desc
                                .ranks 
                                    span.paticipant-ranks.hint-ranks.specialist s
                                    span.ranks__txt Answered by Specialist
                                .liked
                                    img(src="../img/icons/like.svg", alt="like")
                                    span 16