.experts 
    .container 
        h2.experts__title Our experts
        .experts-wrap 
            .experts__item 
                .experts__name 
                    span.experts-ranks.hint-ranks.specialist s
                    p.experts__desc Specialist
                .experts__people
                    .experts__user
                        img(src="../img/users/man_2.png", alt="user")
                    .experts__user
                        img(src="../img/users/woman_1.png", alt="user")
                    .experts__user
                        img(src="../img/users/woman_2.png", alt="user")
                    .experts__user
                        img(src="../img/users/man_4.png", alt="user")
                    .experts__user
                    .experts__user
                    .experts__user
                    .experts__user
                p.experts__solutions 12 640 solutions
                .liked
                    img(src="../img/icons/like.svg", alt="like")
                    span 560 231
            .experts__item 
                .experts__name 
                    span.experts-ranks.hint-ranks.master m
                    p.experts__desc Master
                .experts__people
                    .experts__user
                        img(src="../img/users/man_2.png", alt="user")
                    .experts__user
                        img(src="../img/users/woman_1.png", alt="user")
                    .experts__user
                        img(src="../img/users/woman_2.png", alt="user")
                    .experts__user
                        img(src="../img/users/man_4.png", alt="user")
                    .experts__user
                    .experts__user
                    .experts__user
                    .experts__user
                p.experts__solutions 8 380 solutions
                .liked
                    img(src="../img/icons/like.svg", alt="like")
                    span 252 380
            .experts__item 
                .experts__name 
                    span.experts-ranks.hint-ranks.phd p
                    p.experts__desc PhD
                .experts__people
                    .experts__user
                        img(src="../img/users/man_2.png", alt="user")
                    .experts__user
                        img(src="../img/users/woman_1.png", alt="user")
                    .experts__user
                        img(src="../img/users/woman_2.png", alt="user")
                    .experts__user
                        img(src="../img/users/man_4.png", alt="user")
                    .experts__user
                    .experts__user
                    .experts__user
                    .experts__user
                p.experts__solutions 3 592 solutions
                .liked
                    img(src="../img/icons/like.svg", alt="like")
                    span 150 123
        p.experts__text Our experts are ready to answer any of your questions 24 hours a day