.reviews
    .container
        .waves
            img(src="../img/waves/waves.png", alt="waves")
        .reviews__top 
            h2.reviews__title Students really loves us
            p.reviews__text We help millions of students each months
    .reviews-inner.swiper
        .reviews-row.top.swiper-wrapper
            .swiper-slide.reviews__card(data-swiper-autoplay="4000")
                h3.reviews__card-name Peter
                .reviews__card-review 
                    p.reviews__card-txt this Studen is complimentary. My neighbor Krista has one of these. She works as a salesman and she says
                    .liked 
                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M11.8082 1.34437C11.4895 1.34583 11.1706 1.46888 10.9277 1.71221L6.31991 6.32973C6.00824 6.64223 5.83325 7.06482 5.83325 7.50648V15.8333C5.83325 16.7541 6.57908 17.5 7.49992 17.5H14.9934C15.6592 17.5 16.2616 17.1034 16.525 16.4909L19.0315 10.6559C19.1207 10.4484 19.1666 10.2242 19.1666 9.99835V8.33331C19.1666 7.41247 18.4207 6.66664 17.4999 6.66664H12.2069L13.0354 2.86293C13.1271 2.44293 12.9962 2.00491 12.6903 1.70407C12.4453 1.46324 12.1268 1.34292 11.8082 1.34437ZM1.66659 7.49997C1.20659 7.49997 0.833252 7.87331 0.833252 8.33331V16.6666C0.833252 17.1266 1.20659 17.5 1.66659 17.5H3.33325C3.79325 17.5 4.16658 17.1266 4.16658 16.6666V8.33331C4.16658 7.87331 3.79325 7.49997 3.33325 7.49997H1.66659Z" fill="#23FFCA")
                        span 16
            .swiper-slide.reviews__card.color(data-swiper-autoplay="4000")
                h3.reviews__card-name Alice
                img.reviews__card-avatar(src="../img/users/user-1.png", alt="user")
                .reviews__card-review 
                    p.reviews__card-txt this Studen is complimentary. My neighbor Krista has one of these. She works as a salesman and she says
                    .liked 
                        img(src="../img/icons/like.svg", alt="like")
                        span 256
            .swiper-slide.reviews__card.color(data-swiper-autoplay="4000")
                h3.reviews__card-name Peter
                img.reviews__card-avatar(src="../img/users/user-2.png", alt="user")
                .reviews__card-review 
                    p.reviews__card-txt I saw one of these in Moldova and I bought one. This Studen works very well. It romantically improves
                    .liked 
                        img(src="../img/icons/like.svg", alt="like")
                        span 128
            .swiper-slide.reviews__card(data-swiper-autoplay="4000")
                h3.reviews__card-name CJ
                .reviews__card-review 
                    p.reviews__card-txt this Studen is complimentary. My neighbor Krista has one of these. She works as a salesman and she says
                    .liked 
                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M11.8082 1.34437C11.4895 1.34583 11.1706 1.46888 10.9277 1.71221L6.31991 6.32973C6.00824 6.64223 5.83325 7.06482 5.83325 7.50648V15.8333C5.83325 16.7541 6.57908 17.5 7.49992 17.5H14.9934C15.6592 17.5 16.2616 17.1034 16.525 16.4909L19.0315 10.6559C19.1207 10.4484 19.1666 10.2242 19.1666 9.99835V8.33331C19.1666 7.41247 18.4207 6.66664 17.4999 6.66664H12.2069L13.0354 2.86293C13.1271 2.44293 12.9962 2.00491 12.6903 1.70407C12.4453 1.46324 12.1268 1.34292 11.8082 1.34437ZM1.66659 7.49997C1.20659 7.49997 0.833252 7.87331 0.833252 8.33331V16.6666C0.833252 17.1266 1.20659 17.5 1.66659 17.5H3.33325C3.79325 17.5 4.16658 17.1266 4.16658 16.6666V8.33331C4.16658 7.87331 3.79325 7.49997 3.33325 7.49997H1.66659Z" fill="#23FFCA")
                        span 32
            .swiper-slide.reviews__card(data-swiper-autoplay="4000")
                h3.reviews__card-name Peter
                .reviews__card-review 
                    p.reviews__card-txt this Studen is complimentary. My neighbor Krista has one of these. She works as a salesman and she says
                    .liked 
                        img(src="../img/icons/like.svg", alt="like")
                        span 24
            .swiper-slide.reviews__card(data-swiper-autoplay="4000")
                h3.reviews__card-name Peter
                .reviews__card-review 
                    p.reviews__card-txt this Studen is complimentary. My neighbor Krista has one of these. She works as a salesman and she says
                    .liked 
                        img(src="../img/icons/like.svg", alt="like")
                        span 24
            .swiper-slide.reviews__card.color(data-swiper-autoplay="4000")
                h3.reviews__card-name Mark
                img.reviews__card-avatar(src="../img/users/user-3.png", alt="user")
                .reviews__card-review 
                    p.reviews__card-txt This Studen works considerably well. It mildly improves my basketball by a lot. i use it until further notice
                    .liked 
                        img(src="../img/icons/like.svg", alt="like")
                        span 32
            .swiper-slide.reviews__card(data-swiper-autoplay="4000")
                h3.reviews__card-name Peter
                .reviews__card-review 
                    p.reviews__card-txt this Studen is complimentary. My neighbor Krista has one of these. She works as a salesman and she says
                    .liked 
                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M11.8082 1.34437C11.4895 1.34583 11.1706 1.46888 10.9277 1.71221L6.31991 6.32973C6.00824 6.64223 5.83325 7.06482 5.83325 7.50648V15.8333C5.83325 16.7541 6.57908 17.5 7.49992 17.5H14.9934C15.6592 17.5 16.2616 17.1034 16.525 16.4909L19.0315 10.6559C19.1207 10.4484 19.1666 10.2242 19.1666 9.99835V8.33331C19.1666 7.41247 18.4207 6.66664 17.4999 6.66664H12.2069L13.0354 2.86293C13.1271 2.44293 12.9962 2.00491 12.6903 1.70407C12.4453 1.46324 12.1268 1.34292 11.8082 1.34437ZM1.66659 7.49997C1.20659 7.49997 0.833252 7.87331 0.833252 8.33331V16.6666C0.833252 17.1266 1.20659 17.5 1.66659 17.5H3.33325C3.79325 17.5 4.16658 17.1266 4.16658 16.6666V8.33331C4.16658 7.87331 3.79325 7.49997 3.33325 7.49997H1.66659Z" fill="#23FFCA")
                        span 40
    .reviews-inner-second.swiper
        .reviews-row.bottom.swiper-wrapper
            .swiper-slide.reviews__card(data-swiper-autoplay="6000")
                h3.reviews__card-name Peter
                .reviews__card-review 
                    p.reviews__card-txt this Studen is complimentary. My neighbor Krista has one of these. She works as a salesman and she says
                    .liked 
                        img(src="../img/icons/like.svg", alt="like")
                        span 24
            .swiper-slide.reviews__card.color(data-swiper-autoplay="6000")
                h3.reviews__card-name Mark
                img.reviews__card-avatar(src="../img/users/user-3.png", alt="user")
                .reviews__card-review 
                    p.reviews__card-txt This Studen works considerably well. It mildly improves my basketball by a lot. i use it until further notice
                    .liked 
                        img(src="../img/icons/like.svg", alt="like")
                        span 32
            .swiper-slide.reviews__card(data-swiper-autoplay="6000")
                h3.reviews__card-name Peter
                .reviews__card-review 
                    p.reviews__card-txt this Studen is complimentary. My neighbor Krista has one of these. She works as a salesman and she says
                    .liked 
                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M11.8082 1.34437C11.4895 1.34583 11.1706 1.46888 10.9277 1.71221L6.31991 6.32973C6.00824 6.64223 5.83325 7.06482 5.83325 7.50648V15.8333C5.83325 16.7541 6.57908 17.5 7.49992 17.5H14.9934C15.6592 17.5 16.2616 17.1034 16.525 16.4909L19.0315 10.6559C19.1207 10.4484 19.1666 10.2242 19.1666 9.99835V8.33331C19.1666 7.41247 18.4207 6.66664 17.4999 6.66664H12.2069L13.0354 2.86293C13.1271 2.44293 12.9962 2.00491 12.6903 1.70407C12.4453 1.46324 12.1268 1.34292 11.8082 1.34437ZM1.66659 7.49997C1.20659 7.49997 0.833252 7.87331 0.833252 8.33331V16.6666C0.833252 17.1266 1.20659 17.5 1.66659 17.5H3.33325C3.79325 17.5 4.16658 17.1266 4.16658 16.6666V8.33331C4.16658 7.87331 3.79325 7.49997 3.33325 7.49997H1.66659Z" fill="#23FFCA")
                        span 40
            .swiper-slide.reviews__card(data-swiper-autoplay="6000")
                h3.reviews__card-name Peter
                .reviews__card-review 
                    p.reviews__card-txt I saw one of these in Moldova and I bought one. This Studen works very well. It romantically improves
                    .liked 
                        img(src="../img/icons/like.svg", alt="like")
                        span 32
            .swiper-slide.reviews__card.color(data-swiper-autoplay="6000")
                h3.reviews__card-name Peter
                img.reviews__card-avatar(src="../img/users/user-2.png", alt="user")
                .reviews__card-review 
                    p.reviews__card-txt I saw one of these in Moldova and I bought one. This Studen works very well. It romantically improves
                    .liked 
                        img(src="../img/icons/like.svg", alt="like")
                        span 128
            
