.sidebar 
    .sidebar__top
        h2.sidebar__title Top experts 
        p.sidebar__txt Our experts are ready to answer any of your questions 24 hours a day
    .sidebar-inner
        a.sidebar__user(href="#")
            .sidebar__user-content
                .sidebar__user-img
                    img.sidebar__user-avatar(src="../img/users/man_1.png", alt="пользователь")
                    span.hint-ranks.phd p
                    span.hint-ranks__content Phd
                .sidebar__user-desc
                    h3.sidebar__user-name Konstantin Berg
                    p.sidebar__user-sol 3 592 solutions
            .rating-wrap.accent-txt
                span.rating 4.9
                img(src="../img/icons/rating-star.svg", alt="star")
        a.sidebar__user(href="#")
            .sidebar__user-content
                .sidebar__user-img
                    img.sidebar__user-avatar(src="../img/users/man_2.png", alt="пользователь")
                    span.hint-ranks.master m
                    span.hint-ranks__content Master
                .sidebar__user-desc
                    h3.sidebar__user-name Bernard Wilkins
                    p.sidebar__user-sol 2 273 solutions
            .rating-wrap.accent-txt
                span.rating 5.0
                img(src="../img/icons/rating-star.svg", alt="star")
        a.sidebar__user(href="#")
            .sidebar__user-content
                .sidebar__user-img
                    img.sidebar__user-avatar(src="../img/users/woman_1.png", alt="пользователь")
                    span.hint-ranks.specialist s
                    span.hint-ranks__content Specialist
                .sidebar__user-desc
                    h3.sidebar__user-name Maria Andrews
                    p.sidebar__user-sol 1 992 solutions
            .rating-wrap.accent-txt
                span.rating 4.9
                img(src="../img/icons/rating-star.svg", alt="star")
        a.sidebar__user(href="#")
            .sidebar__user-content
                .sidebar__user-img
                    img.sidebar__user-avatar(src="../img/users/woman_2.png", alt="пользователь")
                    span.hint-ranks.master m
                    span.hint-ranks__content Master
                .sidebar__user-desc
                    h3.sidebar__user-name Madeline Flores
                    p.sidebar__user-sol 1 028 solutions
            .rating-wrap.accent-txt
                span.rating 4.8
                img(src="../img/icons/rating-star.svg", alt="star")
        a.sidebar__user(href="#")
            .sidebar__user-content
                .sidebar__user-img
                    img.sidebar__user-avatar(src="../img/users/man_3.png", alt="пользователь")
                    span.hint-ranks.phd p
                    span.hint-ranks__content Phd
                .sidebar__user-desc
                    h3.sidebar__user-name Jaime Oliver
                    p.sidebar__user-sol 976 solutions
            .rating-wrap.accent-txt
                span.rating 5.0
                img(src="../img/icons/rating-star.svg", alt="star")
    .sidebar-info
        p.sidebar-online 8 free experts 
            span online
        a.btn.sidebar__btn(href="#") Ask question to an expert
            svg(width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M5.3335 6.66675H10.6668" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M5.3335 9.33337H8.00016" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M8.00016 14.6667C11.6822 14.6667 14.6668 11.682 14.6668 8.00004C14.6668 4.31804 11.6822 1.33337 8.00016 1.33337C4.31816 1.33337 1.3335 4.31804 1.3335 8.00004C1.3335 9.21404 1.65816 10.3534 2.2255 11.3334L1.66683 14.3334L4.66683 13.7747C5.67986 14.3607 6.82984 14.6685 8.00016 14.6667V14.6667Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")