.start
    .start-wrap
        h2.start__title Let's get started
        p.start__text Get the answer now. Let's try to search the answer in our library first
        a.btn.start-btn(href="#") Search answer
            img(src="../img/icons/search-icon.svg", alt="search icon") 