.popup.subscription
    .popup-wrapper.popup-subsrip
        .profile-content.subs
            button.popup__close.btn.light(type="button")
                    svg(width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M6.00106 5.99984L11.2441 11.2428M0.758057 11.2428L6.00106 5.99984L0.758057 11.2428ZM11.2441 0.756836L6.00006 5.99984L11.2441 0.756836ZM6.00006 5.99984L0.758057 0.756836L6.00006 5.99984Z" stroke="#ffffff" stroke-opacity="0.6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
            .free-access
                h2.question__title Get full access to Studen
                ul.full__list(style="border-bottom: 1px solid rgba(255, 255, 255, 0.1);")
                    li.full__item
                        .full__item-img
                            svg(width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M4.49976 6.00037C2.84226 6.00037 1.49976 7.34287 1.49976 9.00037V27.0004C1.49976 28.6579 2.84226 30.0004 4.49976 30.0004H16.4998V6.00037H4.49976ZM19.4998 6.00037V30.0004H31.4998C33.1573 30.0004 34.4998 28.6579 34.4998 27.0004V9.00037C34.4998 7.34287 33.1573 6.00037 31.4998 6.00037H19.4998ZM23.2498 10.5004H30.7498C31.1638 10.5004 31.4998 10.8364 31.4998 11.2504V12.7504C31.4998 13.1644 31.1638 13.5004 30.7498 13.5004H23.2498C22.8358 13.5004 22.4998 13.1644 22.4998 12.7504V11.2504C22.4998 10.8364 22.8358 10.5004 23.2498 10.5004ZM23.2498 16.5004H30.7498C31.1638 16.5004 31.4998 16.8364 31.4998 17.2504V18.7504C31.4998 19.1644 31.1638 19.5004 30.7498 19.5004H23.2498C22.8358 19.5004 22.4998 19.1644 22.4998 18.7504V17.2504C22.4998 16.8364 22.8358 16.5004 23.2498 16.5004ZM23.2498 22.5004H30.7498C31.1638 22.5004 31.4998 22.8364 31.4998 23.2504V24.7504C31.4998 25.1644 31.1638 25.5004 30.7498 25.5004H23.2498C22.8358 25.5004 22.4998 25.1644 22.4998 24.7504V23.2504C22.4998 22.8364 22.8358 22.5004 23.2498 22.5004Z" fill="#FFE70D")
                        p 3.000.000 step-by-step answers from experience experts
                    li.full__item
                        .full__item-img
                            svg(width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M14.3426 8.60563C14.9305 5.41382 15.2245 3.81792 15.5204 3.34497C16.6662 1.51362 19.3338 1.51362 20.4796 3.34497C20.7755 3.81792 21.0695 5.41382 21.6574 8.60563C21.7852 9.29931 21.8491 9.64615 21.9639 9.92649C22.3839 10.9525 23.3479 11.6529 24.4535 11.7353C24.7555 11.7578 25.1051 11.7114 25.8044 11.6185C29.0216 11.1914 30.6303 10.9778 31.1715 11.1131C33.2673 11.637 34.0916 14.1739 32.704 15.8296C32.3457 16.2572 30.9187 17.0299 28.0648 18.5754C27.4445 18.9113 27.1344 19.0792 26.9033 19.275C26.0573 19.9915 25.689 21.1248 25.9523 22.2017C26.0243 22.496 26.1764 22.8141 26.4808 23.4504C27.8813 26.3782 28.5815 27.8421 28.6201 28.3987C28.7695 30.5538 26.6114 32.1217 24.608 31.3137C24.0906 31.105 22.9147 29.9866 20.5629 27.75C20.0518 27.2639 19.7963 27.0209 19.5387 26.8615C18.5958 26.2783 17.4042 26.2783 16.4613 26.8615C16.2037 27.0209 15.9482 27.2639 15.4371 27.75C13.0853 29.9866 11.9094 31.105 11.392 31.3137C9.38858 32.1217 7.23052 30.5538 7.37994 28.3987C7.41852 27.8421 8.11875 26.3782 9.51919 23.4504C9.82355 22.8141 9.97573 22.496 10.0477 22.2017C10.311 21.1248 9.94275 19.9915 9.09673 19.275C8.86558 19.0792 8.55545 18.9113 7.93521 18.5754C5.0813 17.0299 3.65435 16.2572 3.29599 15.8296C1.90837 14.1739 2.73267 11.637 4.82848 11.1131C5.36972 10.9778 6.97836 11.1914 10.1956 11.6185C10.8948 11.7114 11.2445 11.7578 11.5465 11.7353C12.6521 11.6529 13.6161 10.9525 14.0361 9.92649C14.1509 9.64615 14.2148 9.29931 14.3426 8.60563Z" fill="#FFE70D")
                        p Priority expert service for your questions
                    li.full__item
                        .full__item-img
                            svg(width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M18.0002 2.99976C14.4287 2.99976 11.1481 4.26032 8.56958 6.35132L19.5588 16.655V10.5701H23.7483C24.9453 10.5701 26.0142 10.8653 26.9592 11.4548C27.9027 12.0458 28.6401 12.8854 29.1711 13.9744C29.7006 15.0634 29.9651 16.2988 29.9651 17.6833V18.3689C29.9651 19.7534 29.7048 20.9892 29.1858 22.0662C28.7763 22.9137 28.2318 23.606 27.5598 24.155L30.2288 26.657C31.9658 24.2075 33.0002 21.2248 33.0002 17.9998C33.0002 9.72876 26.2712 2.99976 18.0002 2.99976ZM6.43091 8.46069C4.28741 11.0542 3.00024 14.3803 3.00024 17.9998C3.00024 26.2708 9.72924 32.9998 18.0002 32.9998C21.9662 32.9998 25.5692 31.4417 28.2542 28.9187L24.5247 25.4236C24.2802 25.4521 24.0312 25.4748 23.7747 25.4763H19.5588V20.7712L15.2581 16.7371L18.0002 25.4705H14.9709L14.1536 22.406H9.85278L9.0354 25.4705H6.0061L10.2307 12.0203L6.43091 8.46069ZM22.3655 13.0574V19.283L25.679 22.3914C25.883 22.2324 26.0736 22.0523 26.2356 21.8318C26.8146 21.0458 27.1113 19.9251 27.1233 18.4626V17.6716C27.1233 16.1566 26.8379 15.0092 26.2649 14.2292C25.6904 13.4492 24.8508 13.0574 23.7483 13.0574H22.3655ZM12.0032 14.3406L10.5178 19.9158H13.4885L12.0032 14.3406Z" fill="#FFE70D")
                        p No ads
                .advantages(style="border-bottom: 1px solid rgba(255, 255, 255, 0.1);")
                    h3.advantages__title Start your 3 days #[span free trial]
                    p.price #[span Then] $4,99/month
                    ul.advantages__list.subs
                        li.accent-txt
                            p You will not only know the correct answer with a step-by-step explanation of the solution, but also understand how to solve similar problems
                        li.accent-txt
                            p Full access to answers and help from experts when and where it suits you - from a computer and in the application
                .free-trial
                    p.free-trial__txt With our service you will study for #[span straight A's]
                    .free-trial-inner
                        a.btn.btn-main.free-trial__btn(href="#") start free trial
                        p.cancel No commitments. Cancel anytime
            .advantages__img 
                    img(src="../img/illustrations/big-smile-robot.png", alt="robot")
    .reviews-inner-second.swiper
        .reviews-row.swiper-wrapper
            .swiper-slide.reviews__card.color(data-swiper-autoplay="6000")
                h3.reviews__card-name Peter
                .reviews__card-review 
                    p.reviews__card-txt this Studen is complimentary. My neighbor Krista has one of these. She works as a salesman and she says
                    .liked 
                        img(src="../img/icons/like.svg", alt="like")
                        span 24
            .swiper-slide.reviews__card.color(data-swiper-autoplay="6000")
                h3.reviews__card-name Mark
                img.reviews__card-avatar(src="../img/users/user-3.png", alt="user")
                .reviews__card-review 
                    p.reviews__card-txt This Studen works considerably well. It mildly improves my basketball by a lot. i use it until further notice
                    .liked 
                        img(src="../img/icons/like.svg", alt="like")
                        span 32
            .swiper-slide.reviews__card.color(data-swiper-autoplay="6000")
                h3.reviews__card-name Peter
                .reviews__card-review 
                    p.reviews__card-txt this Studen is complimentary. My neighbor Krista has one of these. She works as a salesman and she says
                    .liked 
                        img(src="../img/icons/like.svg", alt="like")
                        span 40
            .swiper-slide.reviews__card.color(data-swiper-autoplay="6000")
                h3.reviews__card-name Peter
                .reviews__card-review 
                    p.reviews__card-txt I saw one of these in Moldova and I bought one. This Studen works very well. It romantically improves
                    .liked 
                        img(src="../img/icons/like.svg", alt="like")
                        span 32
            .swiper-slide.reviews__card.color(data-swiper-autoplay="6000")
                h3.reviews__card-name Peter
                img.reviews__card-avatar(src="../img/users/user-2.png", alt="user")
                .reviews__card-review 
                    p.reviews__card-txt I saw one of these in Moldova and I bought one. This Studen works very well. It romantically improves
                    .liked 
                        img(src="../img/icons/like.svg", alt="like")
                        span 128




