.page.pb 
    .container
        .categories-grid.tabs
            .categories-right.user
                .user-profile.sections
                    .user__desc.sections
                        .user__data.sections
                            .user__img 
                                img(src="../img/icons/avatar.svg", alt="user")
                            .paticipant__data-desc 
                                h3.user__title.tabs__btn(data-tabs-path="profile") mail@mail.com
                                span.accent-txt Basic
                    ul.profile-sections
                        li 
                            button.btn-full.accent-txt.tabs__btn._active(type='button' data-tabs-path="questions") 
                                span.btn-full-icon 
                                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M9 9C9 5.5 14.5 5.5 14.5 9C14.5 11.5 12 11 12 14" stroke="#111111" stroke-opacity="0.4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                        path(d="M12 18.01L12.01 17.999" stroke="#111111" stroke-opacity="0.4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                        path(d="M12 22C17.523 22 22 17.523 22 12C22 6.477 17.523 2 12 2C6.477 2 2 6.477 2 12C2 13.821 2.487 15.53 3.338 17L2.5 21.5L7 20.662C8.51954 21.5411 10.2445 22.0027 12 22V22Z" stroke="#111111" stroke-opacity="0.4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                span My questions
                        li 
                            button.btn-full.accent-txt.tabs__btn(type='button' data-tabs-path="access") 
                                span.btn-full-icon 
                                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M11.607 2.342C11.7161 2.24717 11.8559 2.19495 12.0005 2.19495C12.1451 2.19495 12.2848 2.24717 12.394 2.342L14.342 4.034C14.4027 4.08675 14.4733 4.12677 14.5498 4.15168C14.6262 4.17659 14.7069 4.18588 14.787 4.179L17.359 3.955C17.503 3.94264 17.6466 3.98266 17.7635 4.06773C17.8803 4.15279 17.9625 4.27717 17.995 4.418L18.577 6.932C18.595 7.01057 18.6286 7.0847 18.6758 7.14999C18.7231 7.21528 18.783 7.27038 18.852 7.312L21.064 8.642C21.1878 8.71653 21.2805 8.83322 21.3251 8.97064C21.3698 9.10805 21.3633 9.25696 21.307 9.39L20.299 11.766C20.2676 11.84 20.2515 11.9196 20.2515 12C20.2515 12.0804 20.2676 12.16 20.299 12.234L21.307 14.61C21.3636 14.7432 21.3702 14.8923 21.3255 15.0299C21.2809 15.1676 21.188 15.2844 21.064 15.359L18.852 16.689C18.7831 16.7305 18.7232 16.7855 18.676 16.8506C18.6287 16.9157 18.5951 16.9896 18.577 17.068L17.995 19.582C17.9625 19.7228 17.8803 19.8472 17.7635 19.9323C17.6466 20.0173 17.503 20.0574 17.359 20.045L14.787 19.821C14.7069 19.814 14.6263 19.8231 14.5499 19.8479C14.4734 19.8726 14.4027 19.9124 14.342 19.965L12.393 21.658C12.2838 21.7528 12.1441 21.8051 11.9995 21.8051C11.8549 21.8051 11.7151 21.7528 11.606 21.658L9.65798 19.965C9.59723 19.9124 9.52654 19.8726 9.45009 19.8479C9.37365 19.8231 9.29302 19.814 9.21298 19.821L6.64098 20.045C6.49699 20.0574 6.35336 20.0173 6.23652 19.9323C6.11967 19.8472 6.03745 19.7228 6.00498 19.582L5.42298 17.068C5.40502 16.9894 5.3714 16.9153 5.32416 16.85C5.27691 16.7847 5.21699 16.7296 5.14798 16.688L2.93598 15.358C2.81221 15.2835 2.71948 15.1668 2.67484 15.0294C2.6302 14.892 2.63664 14.743 2.69298 14.61L3.70098 12.234C3.73234 12.16 3.7485 12.0804 3.7485 12C3.7485 11.9196 3.73234 11.84 3.70098 11.766L2.69298 9.39C2.63636 9.25684 2.62977 9.1077 2.67443 8.97006C2.71908 8.83243 2.81197 8.71556 2.93598 8.641L5.14798 7.311C5.21689 7.26949 5.27674 7.21455 5.32398 7.14944C5.37123 7.08433 5.40489 7.01038 5.42298 6.932L6.00498 4.418C6.03745 4.27717 6.11967 4.15279 6.23652 4.06773C6.35336 3.98266 6.49699 3.94264 6.64098 3.955L9.21298 4.179C9.29309 4.18588 9.37376 4.17659 9.45021 4.15168C9.52665 4.12677 9.59731 4.08675 9.65798 4.034L11.607 2.342V2.342Z" stroke="#111111" stroke-opacity="0.4" stroke-width="1.5")
                                        path(d="M9 13L11 15L16 10" stroke="#111111" stroke-opacity="0.4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                span Full access
                        li 
                            button.btn-full.accent-txt.tabs__btn(type='button' data-tabs-path="settings") 
                                span.btn-full-icon 
                                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M12 15C12.7956 15 13.5587 14.6839 14.1213 14.1213C14.6839 13.5587 15 12.7956 15 12C15 11.2044 14.6839 10.4413 14.1213 9.87868C13.5587 9.31607 12.7956 9 12 9C11.2044 9 10.4413 9.31607 9.87868 9.87868C9.31607 10.4413 9 11.2044 9 12C9 12.7956 9.31607 13.5587 9.87868 14.1213C10.4413 14.6839 11.2044 15 12 15V15Z" stroke="#111111" stroke-opacity="0.4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                        path(d="M19.622 10.395L18.525 7.745L20 6L18 4L16.265 5.483L13.558 4.37L12.935 2H10.981L10.349 4.401L7.704 5.516L6 4L4 6L5.453 7.789L4.373 10.446L2 11V13L4.401 13.655L5.516 16.3L4 18L6 20L7.791 18.54L10.397 19.612L11 22H13L13.604 19.613L16.255 18.515C16.697 18.831 18 20 18 20L20 18L18.516 16.25L19.614 13.598L22 12.978V11L19.622 10.395V10.395Z" stroke="#111111" stroke-opacity="0.4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                span Settings
                        li 
                            a.btn-full.accent-txt.tabs__btn(href="#")
                                span.btn-full-icon
                                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M19 12L16 9M12 12H19H12ZM19 12L16 15L19 12Z" stroke="#111111" stroke-opacity="0.4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                        path(d="M19 6V5C19 4.46957 18.7893 3.96086 18.4142 3.58579C18.0391 3.21071 17.5304 3 17 3H7C6.46957 3 5.96086 3.21071 5.58579 3.58579C5.21071 3.96086 5 4.46957 5 5V19C5 19.5304 5.21071 20.0391 5.58579 20.4142C5.96086 20.7893 6.46957 21 7 21H17C17.5304 21 18.0391 20.7893 18.4142 20.4142C18.7893 20.0391 19 19.5304 19 19V18" stroke="#111111" stroke-opacity="0.4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                span Logout 
            .categories-left
                .tabs__content.tabs__content--active(data-tabs-target="questions")
                    h2.question__subtitle My questions
                    .answer-similar-inner
                        a.answer__item(href="#") 
                            .answer__item-txt
                                p The diameter of the circle is 10 centimeters and the measure of is 72ยบ. Find the length of. Round your calculations to the nearest tenth. Complete your work in the space provided.
                            .answer__info 
                                .answer__category
                                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="rgba(17, 17, 17, 0.6)")
                                    span Mathematics
                                .answer__info-desc
                                    .ranks 
                                        span.paticipant-ranks.hint-ranks.phd p
                                        span.ranks__txt Answered by PhD
                                    .liked
                                        img(src="../img/icons/like.svg", alt="like")
                                        span 24
                        a.answer__item(href="#") 
                            .answer__item-txt
                                p A water fountain shoots up a jet of water. The water falls back down, onto the ground, in the shape of a circle. Michelle wants the radius of the circle of water on the ground to be 0.7 metre wider...
                                img(src="../img/education/exercise.jpg", alt="exercise")
                            .answer__info 
                                .answer__category
                                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="rgba(17, 17, 17, 0.6)")
                                    span Mathematics 
                                .answer__info-desc
                                    .ranks 
                                        span.paticipant-ranks.hint-ranks.master m
                                        span.ranks__txt Answered by Master
                                    .liked
                                        img(src="../img/icons/like.svg", alt="like")
                                        span 8
                        a.answer__item(href="#") 
                            .answer__item-txt
                                p A water fountain shoots up a jet of water. The water falls back down, onto the ground, in the shape of a circle. Michelle wants the radius of the circle of water on the ground to be 0.7 metre wider...
                            .answer__info 
                                .answer__category
                                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6 3V6H3V8H6V11H8V8H11V6H8V3H6ZM13 6V8H21V6H13ZM4.70703 13.293L3.29297 14.707L5.58594 17L3.29297 19.293L4.70703 20.707L7 18.4141L9.29297 20.707L10.707 19.293L8.41406 17L10.707 14.707L9.29297 13.293L7 15.5859L4.70703 13.293ZM13 14V16H21V14H13ZM13 18V20H21V18H13Z" fill="rgba(17, 17, 17, 0.6)")
                                    span Mathematics 
                                .answer__info-desc
                                    .ranks 
                                        span.paticipant-ranks.hint-ranks.specialist s
                                        span.ranks__txt Answered by Specialist
                                    .liked
                                        img(src="../img/icons/like.svg", alt="like")
                                        span 16
                .profile-content.tabs__content(data-tabs-target="access")
                    .free-access
                        h2.question__title Get full access to Studen
                        ul.full__list
                            li.full__item
                                .full__item-img
                                    img(src="../img/icons/ereader.svg", alt="reader")
                                p 3.000.000 step-by-step answers from experience experts
                            li.full__item
                                .full__item-img
                                    img(src="../img/icons/star-dark.svg", alt="star")
                                p Priority expert service for your questions
                            li.full__item
                                .full__item-img
                                    img(src="../img/icons/ad_blocker.svg", alt="blocker")
                                p No ads
                        .advantages
                            h3.advantages__title Start your 3 days #[span free trial]
                            p.price #[span Then] $4,99/month
                            ul.advantages__list
                                li.accent-txt
                                    p You will not only know the correct answer with a step-by-step explanation of the solution, but also understand how to solve similar problems
                                li.accent-txt
                                    p Full access to answers and help from experts when and where it suits you - from a computer and in the application
                        .free-trial
                            p.free-trial__txt With our service you will study for #[span straight A's]
                            .free-trial-inner
                                a.btn.btn-secondary.free-trial__btn.popup-subs(href="#") start free trial
                                p.cancel No commitments. Cancel anytime
                        .advantages__img 
                            img(src="../img/illustrations/big-smile-robot.png", alt="robot")
                    //- .full-access
                    //-     h2.question__subtitle Full access
                .tabs__content(data-tabs-target="profile")
                    h2.question__subtitle Profile
                    .user__img 
                        img(src="../img/icons/avatar.svg", alt="user")
                    .paticipant__data-desc 
                        a.user__title.tabs__btn(href="mailto:mail@mail.com" data-tabs-path="profile") mail@mail.com
                    a.btn.btn-secondary.free-trial__btn.popup-subs(href="#") start free trial

